
  <div class="col-md-12" >
<body>
   
<div class="row" >

<div class="col-md-8" >
      <div class="container">
         <div class="card text-center">
               <div class="card-header bg-secondary text-white">
    <h5 class="card-title text-white" >Estudio sobre el impacto emocional en trabajadores sanitarios durante la pandemia COVID-19</h5>
               </div>
          <div class="card-body">
    <p class="card-text text-md-left"><a >Investidadora principal:</a></p>
    <p class="card-text text-md-left"><b >Dra. Mº Dolores Arenas Jiménez. </b><i >Hospital del Mar. Barcelona</i></p>
   

<p class="card-text text-md-left"><b >Estudio</b></p>
    <p class="card-text text-md-left">Nos dirigimos a usted para informarle sobre un estudio de investigación en el que se le invita a participar. El estudio ha sido aprobado por un Comité de Ética de la Investigación con medicamentos del Parc de Salut Mar (2020/9239). Nuestra intención es tan solo que usted reciba la información correcta y suficiente para que pueda decidir si acepta o no participar en este estudio. Para ello lea esta hoja informativa con atención y nosotros le aclararemos las dudas que le puedan surgir después de la explicación. Además, puede consultar con las personas que considere oportuno.</p>
    <br>
<p class="card-text text-md-left"><b >Introducción</b></p>
<p class="card-text text-md-left">La afectación psicológica de los trabajadores sanitarios expuestos a la pandemia por COVID-19 ha sido descrita en otros lugares del mundo. El enfrentamiento ante una enfermedad desconocida con alto grado de incertidumbre, con un elevado volumen de trabajo, con necesidad de realizar actividades diferentes y/o de manera diferente a la habitual y con aplicación de protocolos cambiantes todos los días en situaciones de emergencia ha supuesto un gran reto para los profesionales. 
Por otra parte, específicamente en algunas poblaciones concretas, como los profesionales sanitarios que realizan la técnica de hemodiálisis en pacientes infectados conlleva unos factores añadidos, como la exposición prolongada durante varias horas en soledad y con el equipo de protección, que puede incrementar este estado de ansiedad. 
Es importante conocer el efecto que esta situación puede generar en los profesionales con el fin de tomar acciones eficientes y completas de manera oportuna para proteger la salud mental de los mismos.</p>
<br>
<p class="card-text text-md-left"><b >Objetivo del estudio</b></p>
<p class="card-text text-md-left">Este estudio se realiza para conocer el grado de afectación psicológica que ha supuesto la pandemia por COVID- 19 entre los profesionales sanitarios dedicados a la Nefrología  y conocer los factores biológicos, sociales y psicológicos (emocionales) que han influido en ello.</p>
<p class="card-text text-md-left"><b>Procedimiento del estudio</b></p>
<p class="card-text text-md-left">Para este estudio se le pasará un cuestionario, que será anónimo y autoevaluado y lo podrá contestar a través de internet. El cuestionario consta de 73 preguntas que pretenden evaluar : 1) datos demográficos básicos, 2) riesgos de exposición directa e indirecta a COVID-19 3) evaluación de salud mental, 4) estado de salud autopercibido en comparación con el anterior al brote de COVID-19 brote.5)  acceso a ayuda psicologica y  6) factores  que han influido en el estado de ánimo.

No hay respuestas erróneas. El tiempo estimado de respuesta es alrededor de 20 minutos. Usted podrá abandonar el proceso en cualquier momento.</p>

<p class="card-text text-md-left"><b>Aspectos éticos</b></p>
<p class="card-text text-md-left">El estudio ha sido aprobado por  el Comité de Ética de Investigación Clínica del Parc de Salut Mar. 
Le garantizamos que en todo momento se respetarán la normas éticas dictadas por la última Declaración de Hèlsinki (Fortaleza, Brasil, Octubre 2013). y de Regulación del Tratamiento Automatizado de los Datos de Carácter Personal. Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.
Si tiene dudas o quiere aclaraciones puede hablar con nosotros.
Si acepta  su participación en el estudio , marque Si y pasará directamente al cuestionario.<p>

<p class="card-text text-md-left"><b>Acepto la participación en el estudio y doy mi conformidad al mismo</b></p>
<br>
<div class= "row">
  
<a class="nav-link btn btn-outline-success w-50" [routerLink]="['/profile-nefro']">Realizar encuesta</a>

  <button class="nav-link btn btn-outline-danger w-50"  onclick="window.location='https://www.google.com/'" >No Acepto</button>
  </div>

<br>     
<br> 
</div>
                                                    
    
  
</div>
</div>
</div>

<div class="col-md-4" > 
     <div class="container">

         <div class="card text-center">
             <div class="card-header bg-danger text-white" >
    Importante ¡¡¡
             </div>
           <div class="card-body">
    <h5 class="card-title ">Consentimiento informado</h5>
    <p class="card-text">Por favor, antes de realizar la encuesta, acepte el consentimiento informado.</p>

       </div>
      <div class="card-footer text-muted">
    Si decide no aceptar el consentimiento informado, le agradecemos el tiempo que nos ha prestado. 
  </div>
</div>
 </div>
</div>


</div>


</body>
</div>