

<div class="container-fluid">
  <div class="col-md-12">

<app-cabecera></app-cabecera>


  </div>

<router-outlet></router-outlet>


<div clase="container">
<dir class = "row">
 <cookie-law position="bottom" name="ng4topCookieLaw" expiration="1">
    Utilizamos cookies para recordar sus preferencias de usuario, y recolectar datos de uso para mejorar nuestros servicios, según los términos recogidos en la Política de cookies de terceros.
    <a href="https://policies.google.com/technologies/types?hl=es">
      Pulsar aqui para más información
    </a>
 </cookie-law>
      

</dir>



</div>



</div>




