
<div class= "row">
<div class="col-md-4" text-center> 
</div>
<div class="col-md-4" text-center> 
     <div class="container">

         <div class="card text-center">
             <div class="card-header bg-primary text-white" >
    Datos guardados correctamente.
             </div>
           <div class="card-body">
    <h5 class="card-title "></h5>
    <p class="card-text">Muchas gracias por su colaboración.</p>

       </div>
      <div class="card-footer text-muted">
        <button class="nav-link btn btn-outline-danger w-100" (click)="auth.logout()" >Cerrar sesión</button>

  </div>
  </div>
</div>
 </div>
<div class="col-md-4" text-center> 
</div>
</div>