.jumbotron {
  padding: 10px 10px 10px 10px;
  background: rgb(251, 252, 252);
  margin: 0 auto 10px;
  border-radius: 0;
  background-image: url("https://cdn.jsdelivr.net/gh/fbronchaly/angular-covid19-dfumkl@master/src/app/component/shared/cabecera-covid19con2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

